.home-container{
    overflow-x: hidden;
}

main {
    padding-top: 70px;
}

body {
    background-color: #f8f9fa;
    overflow-x: hidden !important;
}

.navbar{
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.cart-link {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.cart-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.col-md-12 > h1{

    color: aliceblue;
    text-align: center;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

.feature-box:hover {
    animation: shake 0.5s ease-in-out;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@media (max-width: 767px) {
    .logos-slide {
        animation: none;
    }
}

.logos {
    overflow-x: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    overflow-x: hidden;
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
}

.logos:after {
    right: 0;
}

.logos-slide {
    display: inline-block;
    animation: slide 35s infinite linear;
}

.logos-slide img {
    height: 180px;
}

.feature-box {
    overflow-x: hidden;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.feature-box i {
    font-size: 3rem; /* Increase the icon size */
    color: #007bff;
    margin-bottom: 1rem;
}

.feature-box h5 {
    font-size: 1.5rem; /* Increase the font size for headings */
}

.feature-box p {
    font-size: 1rem; /* Increase the font size for paragraphs */
}

.about-us {
    background-color: #f8f9fa;
    overflow-x: hidden;
}

.about-us h2 {
    margin-bottom: 1.5rem;
}

.about-us p {
    margin-bottom: 1rem;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.badge {
    display: inline-block !important;
    color: black;
}

.cart-item {
    border: 1px solid #ddd;
    padding: 10px;
}

.cart-item .price {
    font-weight: bold;
}

.cart-total {
    margin-top: 30px;
    padding: 20px;
    background-color: #f8f9fa;
}

.cart-total #cart-subtotal {
    font-weight: bold;
}

.payment-methods i {
    font-size: 24px;
    margin-right: 10px;
}